<!-- Placeholder for child template header declarations -->

        <div id="hl7-nav">
          <a id="aegis-logo" no-external="true" href="http://www.aegis.net">
            <img height="50" alt="Visit the AEGIS.net, Inc. website" src="{{site.data.info.assets}}assets/images/aegis_logo.png"/>
          </a>
        </div>
        <div id="family-nav">
          <a id="family-logo" no-external="true" href="http://wildfhir.aegis.net/r4"><img height="50" alt="Visit the AEGIS WildFHIR CE website" src="{{site.data.info.assets}}assets/images/wildfhirce_logo.png"/> </a>
        </div>
